/* Fontawesome ICONS */
@import url(https://use.fontawesome.com/releases/v6.4.0/css/all.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
}

.container {
  max-width: 100vw;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-slate-500 text-white;
}
.btn-blue:hover {
  @apply bg-slate-700 text-amber-300;
}

.active {
  @apply text-amber-300 font-bold;
}
