<section class="bg-white dark:bg-slate-800 ">
    <div class="container flex justify-center items-center min-h-screen px-6 py-12 mx-auto">
        <div class="flex flex-col items-center">
            <p class="lg:text-9xl md:text-7xl sm:text-5xl text-5xl  font-medium text-amber-300">
                {{notFoundConstants.mainHeading}}
            </p>
            <h1 class="mt-3  font-semibold text-gray-800 dark:text-white lg:text-3xl md:text-2xl sm:text-lg">
                {{notFoundConstants.firstSubHeading}}
            </h1>
            <p class="mt-4 text-gray-500 dark:text-gray-400">{{notFoundConstants.secondSubHeading}}</p>

            <div class="flex items-center mt-6 gap-x-3">
                <a routerLink="" class="btn btn-blue btn-blue:hover">
                    {{notFoundConstants.btnText}}
                </a>
            </div>
        </div>
    </div>
</section>