<div class="w-full h-screen flex">
    <img src={{offer.imageUrl}} alt=" background"
        class="object-cover object-center h-screen w-7/12 lg:block sm:hidden md:hidden hidden">
    <div
        class="bg-white lg:flex lg:flex-col lg:justify-center lg:items-center lg:w-5/12 lg:shadow-lg md:flex md:flex-col md:justify-center md:items-center md:w-full sm:flex sm:flex-col sm:justify-center sm:items-center sm:w-full flex flex-col justify-center items-center w-full">
        <h1 class="text-4xl font-bold text-slate-800 mb-4">{{editConstants.heading}}</h1>
        <h2 *ngIf="errorServer" class="text-lg font-bold text-rose-600 mb-4">{{errorMsg}}</h2>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="w-2/3 text-center">
            <label for="edit-title" class="text-slate-800 self-start text-lg">{{editConstants.title}}</label>
            <input id="edit-title" type="text" formControlName="title" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-slate-800 focus:outline-none focus:border-slate-800 mb-3 ">

            <p *ngIf="editForm.get('title')?.invalid && 
                (editForm.get('title')?.dirty || 
                editForm.get('title')?.touched || 
                isSubmitted)" class="text-red-500 text-xs ">{{editConstants.titleInvalidText}}</p>

            <label for="edit-location" class="text-slate-800 self-start text-lg">{{editConstants.location}}</label>
            <input id="edit-location" type="text" formControlName="location" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-slate-800 focus:outline-none focus:border-slate-800 mb-3 ">

            <p *ngIf="editForm.get('location')?.invalid && 
                (editForm.get('location')?.dirty || 
                editForm.get('location')?.touched || 
                isSubmitted)" class="text-red-500 text-xs ">{{editConstants.locationInvalidText}}</p>

            <!-- QUADRATURE -->

            <label for="create-quadrature"
                class="text-slate-800 self-start text-lg">{{editConstants.quadrature}}</label>
            <input id="create-quadrature" type="number" formControlName="quadrature" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-slate-800 focus:outline-none focus:border-slate-800 mb-3 ">

            <p *ngIf="editForm.get('quadrature')?.invalid && 
                (editForm.get('quadrature')?.dirty || 
                editForm.get('quadrature')?.touched || 
                isSubmitted)" class="text-red-500 text-xs ">{{editConstants.quadratureInvalidText}}</p>

            <!-- FLOORS -->

            <label for="create-floors" class="text-slate-800 self-start text-lg">{{editConstants.price}}</label>
            <input id="create-floors" type="number" formControlName="floors" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-slate-800 focus:outline-none focus:border-slate-800 mb-3 ">

            <p *ngIf="editForm.get('floors')?.invalid && 
                (editForm.get('floors')?.dirty || 
                editForm.get('floors')?.touched || 
                isSubmitted)" class="text-red-500 text-xs ">{{editConstants.floorsInvalidText}}</p>


            <label for="edit-imageLink" class="text-slate-800 self-start text-lg">{{editConstants.imageUrl}}</label>
            <input id="edit-imageLink" type="text" formControlName="imageUrl" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-slate-800 focus:outline-none focus:border-slate-800 mb-3 ">

            <p *ngIf="editForm.get('imageUrl')?.invalid && 
                (editForm.get('imageUrl')?.dirty || 
                editForm.get('imageUrl')?.touched || 
                isSubmitted)" class="text-red-500 text-xs ">{{editConstants.imageUrlInvalidText}}</p>

            <label for="edit-price" class="text-slate-800 self-start text-lg">{{editConstants.price}}</label>
            <input id="edit-price" type="number" formControlName="price" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-slate-800 focus:outline-none focus:border-slate-800 mb-3 ">

            <p *ngIf="editForm.get('price')?.invalid && 
                (editForm.get('price')?.dirty || 
                editForm.get('price')?.touched || 
                isSubmitted)" class="text-red-500 text-xs ">{{editConstants.priceInvalidText}}</p>

            <label for="edit-information"
                class="text-slate-800 self-start text-lg">{{editConstants.information}}</label>
            <textarea id="edit-information" formControlName="information" rows="4" cols="50"
                class="shadow-sm border w-full h-12 px-3 py-2 text-slate-800 focus:outline-none focus:border-slate-800 mb-3 "></textarea>

            <p *ngIf="editForm.get('information')?.invalid && 
                (editForm.get('information')?.dirty || 
                editForm.get('information')?.touched || 
                isSubmitted)" class="text-red-500 text-xs ">{{editConstants.informationInvalidText}}</p>

            <button [disabled]="this.editForm.invalid" type="submit" class="btn btn-blue my-4 group relative"
                [class.cursor-not-allowed]="editForm.invalid"
                [class.cursor-pointer]="!editForm.invalid">{{editConstants.btnText}}<span *ngIf="this.editForm.invalid"
                    class="opacity-0 group-hover:opacity-100 absolute flex text-red-500 whitespace-nowrap left-24 top-2">
                    All inputs are required.
                </span></button>
        </form>
    </div>

</div>