<div class="container flex flex-col justify-center items-center m-2">

    <h2 class="text-4xl font-bold text-sky-800 italic m-2">My profile</h2>

    <h2 class="text-2xl font-bold text-sky-800 italic  m-2">Full name: Dimitar Mitev</h2>

    <h3 class="text-1xl font-bold text-sky-800 italic  m-2">Email: dmitev@gmail.com</h3>

    <h2 class="text-4xl font-bold text-sky-800 italic border-b-2 border-b-sky-600 m-2">Your offers</h2>

    <div class="container flex justify-center items-center flex-wrap gap-10 m-10 w-4/5">


        <app-card></app-card>

    </div>
</div>