<div class="container flex flex-col justify-start items-center min-h-screen bg-slate-700">

    <div class="flex items-center flex-col bg-slate-800 text-white w-full">

        <!-- <h2 class="text-4xl font-bold text-white  m-2">{{profileConstants.heading}}</h2>
        <h2 class="text-2xl font-bold text-white   m-2">{{profileConstants.fullName}} {{userData.fullName}}</h2> -->
        <h2 class="text-4xl font-bold text-white    m-2">{{profileConstants.offers}}:
        </h2>
        <h2 *ngIf="errorServer" class="text-lg font-bold text-rose-600 mb-4">{{errorMsg}}</h2>
    </div>

    <div class=" flex justify-center items-start flex-wrap gap-8 m-10 w-11/12">
        <app-card *ngFor="let offer of userOffers" [offer]="offer"></app-card>
        <ng-container *ngIf='userOffers?.length === 0'>
            <h2 class="text-2xl font-bold text-white    m-2">{{profileConstants.offersInvalidText}}</h2>
            <a class="btn btn-blue my-4" routerLink="/create">{{profileConstants.btnOffers}}</a>
        </ng-container>

    </div>

    <div class="flex items-center flex-col bg-slate-800 text-white w-full">

        <h2 class="text-4xl font-bold bg-slate-800 text-white m-2">
            {{profileConstants.followOffers}}:
        </h2>

    </div>

    <div class="flex justify-center items-start flex-wrap gap-8 m-10 w-11/12">
        <app-card *ngFor="let followOffer of userFollowOffers" [offer]="followOffer"></app-card>
        <ng-container *ngIf='userFollowOffers?.length === 0'>
            <h2 class="text-2xl font-bold text-white    m-2">{{profileConstants.followOffersInvalidText}}</h2>
            <a class="btn btn-blue my-4" routerLink="/catalog">{{profileConstants.btnFollowOffers}}</a>
        </ng-container>

    </div>

</div>