<div class="container flex flex-col justify-center items-center m-2">

    <h2 class="text-4xl font-bold text-sky-800 italic">Our suggestions for your new home.</h2>

    <div class="container flex justify-center items-center flex-wrap gap-10 m-10 w-4/5">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-sky-900">
            <img class="rounded-t-lg" src="../../../assets/images/hero.jpg" alt="" />
            <div class="p-5">
                <a>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology
                        acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                    acquisitions of 2021 so far, in reverse chronological order.</p>
                <p class="mb-3 font-bold text-gray-700 dark:text-gray-200">$400 000.00</p>
                <a class="btn btn-blue my-4" routerLink="/123/details">Read More &rarr;</a>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-sky-900">
            <img class="rounded-t-lg" src="../../../assets/images/hero.jpg" alt="" />
            <div class="p-5">
                <a>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology
                        acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                    acquisitions of 2021 so far, in reverse chronological order.</p>
                <p class="mb-3 font-bold text-gray-700 dark:text-gray-200">$400 000.00</p>
                <a class="btn btn-blue my-4" routerLink="/123/details">Read More &rarr;</a>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-sky-900">
            <img class="rounded-t-lg" src="../../../assets/images/hero.jpg" alt="" />
            <div class="p-5">
                <a>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology
                        acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                    acquisitions of 2021 so far, in reverse chronological order.</p>
                <p class="mb-3 font-bold text-gray-700 dark:text-gray-200">$400 000.00</p>
                <a class="btn btn-blue my-4" routerLink="/123/details">Read More &rarr;</a>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-sky-900">
            <img class="rounded-t-lg" src="../../../assets/images/hero.jpg" alt="" />
            <div class="p-5">
                <a>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology
                        acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                    acquisitions of 2021 so far, in reverse chronological order.</p>
                <p class="mb-3 font-bold text-gray-700 dark:text-gray-200">$400 000.00</p>
                <a class="btn btn-blue my-4" routerLink="/123/details">Read More &rarr;</a>
            </div>
        </div>
    </div>

</div>