<div class="w-full h-screen flex">
    <img src="../../../assets/images/register.png" alt="background" class="object-cover object-center h-screen w-7/12">
    <div class="bg-white flex flex-col justify-center items-center w-5/12 shadow-lg">
        <h1 class="text-4xl font-bold text-sky-800 mb-4">Register</h1>
        <div class="w-2/3 text-center">
            <input type="text" name="fullName" placeholder="Dimitar Mitev" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <input type="text" name="username" placeholder="dmitev" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <input type="email" name="email" placeholder="dmitev@gmail.com" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">

            <input type="password" name="password" placeholder="password" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <input type="password" name="rePassword" placeholder="repeat password" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <p>By creating an account you agree to our <a class="font-medium underline text-sky-800" href="#">Terms &
                    Privacy.</a></p>
            <button class="btn btn-blue my-4">Register</button>
            <p>Have already an account? <a class="font-bold underline text-sky-800" href="#">Login here</a></p>
        </div>
    </div>
</div>