<header class="container mx-auto flex flex-col justify-center text-center bg-sky-800 text-white">

    <h2 class="text-3xl font-bold my-1 italic"><span class="text-amber-300">Real</span> Estate <span
            class="text-amber-300">Deals</span></h2>



    <div class="flex justify-between mt-1 mb-2">
        <div class="flex justify-between gap-6 mx-5">
            <a href="#" class="hover:text-amber-300">Home</a>
            <a href="#" class="hover:text-amber-300">Catalog</a>
            <a href="#" class="hover:text-amber-300">About Us</a>
            <a href="#" class="hover:text-amber-300">Contact Us</a>
        </div>
        <div class="flex justify-between gap-6 mx-5">
            <a href="#" class="hover:text-amber-300">Register</a>
            <a href="#" class="hover:text-amber-300">Login</a>
        </div>
    </div>

</header>