<header class="container mx-auto flex flex-col justify-center text-center bg-sky-700 text-white">

    <h2 class="text-5xl font-bold my-4 italic"><span class="text-amber-300">Real</span>Estate<span
            class="text-amber-300">Deals</span></h2>

    <div class="flex justify-between my-2">
        <div class="flex justify-between gap-6 mx-5">
            <a href="#" class="cursor-pointer hover:text-amber-300"><i
                    class="fa-brands fa-square-facebook text-xl"></i></a>
            <a href="#" class="cursor-pointer hover:text-amber-300"><i
                    class="fa-brands fa-square-instagram text-xl"></i></a>
            <a href="#" class="cursor-pointer hover:text-amber-300"><i
                    class="fa-brands fa-square-twitter text-xl"></i></a>
        </div>

        <div class="flex justify-between gap-6 mx-5">
            <a href="#" class="cursor-pointer hover:text-amber-300"><i class="fa-solid fa-phone-volume"></i> +359 999
                999 999</a>
            <a href="#" class="cursor-pointer hover:text-amber-300"><i class="fa-solid fa-at"></i>
                info@realestatedeals.com</a>
        </div>
    </div>

    <div class="flex justify-between mt-2 mb-4">
        <div class="flex justify-between gap-6 mx-5">
            <a href="#" class="hover:text-amber-300">Home</a>
            <a href="#" class="hover:text-amber-300">Catalog</a>
            <a href="#" class="hover:text-amber-300">About Us</a>
            <a href="#" class="hover:text-amber-300">Contact Us</a>
        </div>
        <div class="flex justify-between gap-6 mx-5">
            <a href="#" class="hover:text-amber-300">Register</a>
            <a href="#" class="hover:text-amber-300">Login</a>
        </div>
    </div>

</header>