<div class="container bg-slate-800 p-5 text-white">

    <div
        class="flex flex-col md:flex-row md:justify-evenly md:items-start sm:flex-col sm:justify-center sm:items-center">

        <div class="flex flex-col  justify-center items-center my-2">
            <h3 class="font-bold underline">Useful Links</h3>
            <div class="flex flex-col  justify-center items-center m-2">
                <a class="px-2 hover:text-amber-300" routerLink="">Home</a>
                <a class="px-2 hover:text-amber-300" routerLink="/login">Login</a>
                <a class="px-2 hover:text-amber-300" routerLink="/register">Register</a>
                <a class="px-2 hover:text-amber-300" routerLink="/catalog">Catalog</a>
                <a class="px-2 hover:text-amber-300" routerLink="/about-us">About Us</a>
                <a class="px-2 hover:text-amber-300">FAQ</a>
            </div>
        </div>

        <div class="flex flex-col  justify-center items-center my-2">
            <h3 class="font-bold underline">Follow Us</h3>
            <div class="flex justify-center m-2">
                <a class="px-2 hover:text-amber-300 " href="https://www.facebook.com"><i
                        class="fa-brands fa-facebook"></i></a>
                <a class="px-2 hover:text-amber-300 " href="https://www.twitter.com"><i
                        class="fa-brands fa-twitter"></i></a>
                <a class="px-2 hover:text-amber-300 " href="https://www.instagram.com"><i
                        class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

        <div class="flex flex-col  justify-center items-center my-2">
            <h3 class="font-bold underline">Contact Us</h3>
            <div class="flex flex-col justify-center items-center m-2">
                <p class="py-1 "><i class="fa-solid fa-at"></i>
                    info@realestatedeals.com</p>
                <p class="py-1"><i class="fa-solid fa-phone"></i> +123 99 999 999</p>
                <p class="py-1 "><i class="fa-solid fa-location-dot"></i> 248 Bradford
                    Ave.
                    Brooklyn, NY 11233</p>
            </div>
        </div>

    </div>
    <div class="flex justify-center items-center">
        <p>@2023 Dimitar Mitev | All Right Reserved</p>
    </div>
</div>