<div class="w-full h-screen flex">
    <img src="../../../assets/images/contact-us.jpg" alt="background"
        class="object-cover object-center h-screen w-7/12">
    <div class="bg-white flex flex-col justify-center items-center w-5/12 shadow-lg">
        <h1 class="text-4xl font-bold text-sky-800 mb-4">{{contactUsConstants.heading}}</h1>
        <form class="w-2/3 text-center">
            <label for="contact-us-fullName"
                class="text-sky-800 self-start text-lg">{{contactUsConstants.fullName}}</label>
            <input id="contact-us-fullName" type="text" name="fullName"
                placeholder={{contactUsConstants.fullNamePlaceholder}} autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 ">
            <label for="contact-us-email" class="text-sky-800 self-start text-lg">{{contactUsConstants.email}}</label>
            <input id="contact-us-email" type="email" name="email" placeholder={{contactUsConstants.emailPlaceholder}}
                autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 ">
            <label for="contact-us-phone"
                class="text-sky-800 self-start text-lg">{{contactUsConstants.phoneNumber}}</label>
            <input id="contact-us-phone" type="text" name="phone"
                placeholder={{contactUsConstants.phoneNumberPlaceholder}} autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 ">
            <label for="contact-us-message"
                class="text-sky-800 self-start text-lg">{{contactUsConstants.message}}</label>
            <textarea id="contact-us-message" name="message" rows="4" cols="50"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 "></textarea>
            <button class="btn btn-blue my-4">{{contactUsConstants.btnText}}</button>

        </form>
    </div>

</div>