<section class="text-gray-700 body-font overflow-hidden bg-white">
    <div *ngIf="!isShowDeletePopup && isHideFullScreenImage" class="container px-5 py-24 mx-auto">
        <div class="h-4/5 mx-auto flex flex-wrap">
            <img *ngIf="offer" (click)="onToggleShowFullScreenImage()"
                class="lg:w-1/2 w-full object-cover object-center rounded cursor-pointer border-4 border-sky-800"
                [src]="offer.imageUrl" alt={{offer.title}}>
            <div *ngIf="offer" class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 flex flex-col justify-center ">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">Offer by: {{offer.ownerInfo.fullName}}
                </h2>
                <h2 class="text-sm title-font text-gray-500 tracking-widest">Created on: {{offer._createdOn | date:
                    'medium'}}
                </h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium my-2">{{offer.title | uppercase}}</h1>

                <h3 class="text-lg py-1">Location: {{offer.location}}</h3>
                <h3 class="text-lg py-1 ">Quadrature: {{offer.quadrature}} m2</h3>
                <h3 class="text-lg py-1 ">Floors: {{offer.floors}}</h3>
                <p class="leading-relaxed">Information: {{offer.information}}</p>
                <span class="title-font font-medium text-2xl text-gray-900 py-2">Price: {{offer.price
                    |currency:'CAD':'symbol-narrow'}}</span>
                <div *ngIf="!isHideContact" class="bg-sky-700 text-white flex justify-evenly w-2/3 p-3 rounded">
                    <p>Phone number: {{offer.ownerInfo.phone}}</p>
                    <p>Email: {{offer.ownerInfo.email}}</p>
                </div>
                <div class="flex mt-5" *ngIf="isLoggedIn">
                    <button *ngIf="!isOwner" (click)="onToggleShowContact()"
                        class="flex btn btn-blue mr-4">{{!isHideContact ? 'Hide' : 'Show'}} Contact</button>
                    <button *ngIf="!isOwner" (click)="onFollowOffer()" class="flex btn btn-blue mr-4">{{isFollowed ?
                        'Followed' : 'Follow'}}</button>
                    <button *ngIf="isOwner" class="flex btn btn-blue mr-4"
                        routerLink="/{{offer._id}}/edit">Edit</button>
                    <button *ngIf="isOwner" (click)="onShowDeletePopup()" class="flex btn btn-blue mr-4">Delete</button>
                </div>

            </div>
        </div>

    </div>
    <div *ngIf="!isHideFullScreenImage" class="flex justify-center items-center w-full h-full bg-sky-800">
        <img (click)="onToggleShowFullScreenImage()"
            class="  w-9/12 h-9/12 border-2 border-white rounded-sm cursor-pointer" [src]="offer.imageUrl"
            alt={{offer.title}}>
    </div>

    <div *ngIf="!isShowDeletePopup && isHideFullScreenImage" class="flex flex-col items-center  justify-center">
        <div
            class="flex flex-col items-center w-6/12 lg:w-10/12 md:w-10/12 sm:w-10/12 bg-sky-800 p-6 rounded-lg text-white mb-5">
            <h2 class=" text-2xl font-bold">Comments:</h2>

            <app-comment *ngFor="let comment of comments" [comment]="comment"
                class="flex flex-col justify-betwen my-5 w-6/12 lg:w-9/12 md:w-10/12 sm:w-10/12" />

            <form *ngIf="isLoggedIn" (ngSubmit)="osSubmitComment()" [formGroup]="commentForm" class="flex mb-5 ">
                <textarea formControlName="comment"
                    class=" shadow-sm border w-full h-12 mx-2 text-sky-800 focus:outline focus:border-sky-800"
                    name="comment" id="comment" cols="100" rows="5"></textarea>
                <button [disabled]="this.commentForm.invalid" type="submit" class="btn btn-blue">Comment</button>
            </form>
            <p *ngIf="commentForm.get('comment')?.invalid && 
                    (commentForm.get('comment')?.dirty || 
                    commentForm.get('comment')?.touched || 
                    isSubmitted)" class="bg-red-500 text-md italic text-white p-2 rounded-sm">Comment must be at least
                10 characters long.</p>
        </div>
    </div>
    <app-popup *ngIf="isShowDeletePopup" [isShowDeletePopup]="isShowDeletePopup"
        (newShowDeletePopup)="onNewEventShowDeleteHandler($event)" />


</section>