<section class="text-gray-700 body-font overflow-hidden bg-white">
    <div *ngIf="!isShowDeletePopup" class="container px-5 py-24 mx-auto">
        <div class="h-4/5 mx-auto flex flex-wrap">
            <img *ngIf="offer" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
                [src]="offer.imageUrl" alt={{offer.title}}>
            <div *ngIf="offer" class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 flex flex-col justify-center ">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">{{offer._createdOn | date:
                    'medium'}}
                </h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{offer.title | uppercase}}</h1>

                <h3 class="text-lg py-2 font-bold">{{offer.location}}</h3>
                <h3 class="text-lg py-2 font-bold">{{offer.quadrature}} m2</h3>
                <h3 class="text-lg py-2 font-bold">{{offer.floors}} floors</h3>
                <p class="leading-relaxed">{{offer.information}}</p>
                <span class="title-font font-medium text-2xl text-gray-900 py-2">{{offer.price
                    |currency:'CAD':'symbol-narrow'}}</span>
                <div class="flex mt-5" *ngIf="isLoggedIn">
                    <button *ngIf="!isOwner" class="flex btn btn-blue mr-4">Buy</button>
                    <button *ngIf="isOwner" class="flex btn btn-blue mr-4"
                        routerLink="/{{offer._id}}/edit">Edit</button>
                    <button *ngIf="isOwner" (click)="onShowDeletePopup()" class="flex btn btn-blue mr-4">Delete</button>
                </div>

            </div>
        </div>
    </div>
    <app-popup *ngIf="isShowDeletePopup" [isShowDeletePopup]="isShowDeletePopup"
        (newShowDeletePopup)="onNewEventShowDeleteHandler($event)" />
</section>