<section class="text-white body-font overflow-hidden bg-slate-700">
    <div *ngIf="!isShowDeletePopup && isHideFullScreenImage" class="container px-5 py-24 mx-auto">
        <div class="h-4/5 mx-auto flex flex-wrap ">
            <h2 *ngIf="errorServer" class="text-lg font-bold text-rose-600 m-4 text-center w-full min-h-screen">
                {{errorMsg}}</h2>
            <img *ngIf="offer" (click)="onToggleShowFullScreenImage()"
                class="lg:w-1/2 w-full object-cover object-center rounded border-4 border-white cursor-zoom-in hover:brightness-110 hover:duration-300"
                [src]="offer.imageUrl" alt={{offer.title}}>
            <div *ngIf="offer"
                class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 flex flex-col md:items-center lg:items-start items-center">
                <h2 class="text-sm title-font text-white tracking-widest">Offer by: {{offer.ownerInfo.fullName}}
                </h2>
                <h2 class="text-sm title-font text-white tracking-widest">Created on: {{offer._createdOn | date:
                    'medium'}}
                </h2>
                <h1 class="text-white text-3xl title-font font-medium my-2">{{offer.title | uppercase}}</h1>

                <h3 class="text-lg py-1">Location: {{offer.location}}</h3>
                <h3 class="text-lg py-1 ">Quadrature: {{offer.quadrature}} m2</h3>
                <h3 class="text-lg py-1 ">Floors: {{offer.floors}}</h3>
                <p class="leading-relaxed">Information: {{offer.information}}</p>
                <span class="title-font font-medium text-2xl text-white py-2">Price: {{offer.price
                    |currency:'CAD':'symbol-narrow'}}</span>
                <div *ngIf="!isHideContact" class="bg-slate-800 text-white flex justify-evenly w-2/3 p-3 rounded">
                    <p>Phone number: {{offer.ownerInfo.phone}}</p>
                    <p>Email: {{offer.ownerInfo.email}}</p>
                </div>
                <div class="flex mt-5" *ngIf="isLoggedIn">
                    <button *ngIf="!isOwner" (click)="onToggleShowContact()"
                        class="flex btn btn-blue mr-4">{{!isHideContact ? 'Hide' : 'Show'}} Contact</button>
                    <button *ngIf="!isOwner" (click)="onFollowOffer()" class="flex btn btn-blue mr-4">{{isFollowed ?
                        'Followed' : 'Follow'}}</button>
                    <button *ngIf="isOwner" class="flex btn btn-blue mr-4"
                        routerLink="/{{offer._id}}/edit">Edit</button>
                    <button *ngIf="isOwner" (click)="onShowDeletePopup()" class="flex btn btn-blue mr-4">Delete</button>
                </div>

            </div>
        </div>

    </div>
    <div *ngIf="!isHideFullScreenImage" class="flex justify-center items-center w-full h-full bg-slate-800">
        <img (click)="onToggleShowFullScreenImage()"
            class="  w-9/12 h-9/12 border-2 border-white rounded-sm cursor-zoom-out" [src]="offer.imageUrl"
            alt={{offer.title}}>
    </div>

    <div *ngIf="!isShowDeletePopup && isHideFullScreenImage" class="flex flex-col items-center  justify-center">
        <div *ngIf="!errorMsg"
            class="flex flex-col items-center w-11/12 lg:w-10/12 md:w-10/12 sm:w-10/12 bg-slate-800 p-6 rounded-lg text-white mb-5">
            <h2 class=" md:text-2xl text-lg font-bold">Comments:</h2>

            <app-comment *ngFor="let comment of comments" [comment]="comment"
                class="flex flex-col justify-betwen my-5 w-11/12 lg:w-9/12 md:w-10/12 sm:w-10/12" />

            <p *ngIf="comments.length === 0" class="p-2 ">No comments yet.</p>

            <form *ngIf="isLoggedIn" (ngSubmit)="osSubmitComment()" [formGroup]="commentForm" class="flex mb-5 ">
                <textarea formControlName="comment"
                    class=" shadow-sm border w-full h-12 mx-2 text-slate-800 focus:outline focus:border-slate-800"
                    name="comment" id="comment" cols="100" rows="5"></textarea>
                <button [disabled]="this.commentForm.invalid" *ngIf="!errorServer" type="submit"
                    class="btn btn-blue group relative" [class.cursor-not-allowed]="commentForm.invalid"
                    [class.cursor-pointer]="!commentForm.invalid">Comment<span *ngIf="this.commentForm.invalid"
                        class="opacity-0 group-hover:opacity-100 absolute flex text-red-500 whitespace-nowrap left-32 top-3">
                        Input is required.
                    </span></button>
            </form>
            <p *ngIf="commentForm.get('comment')?.invalid && 
                    (commentForm.get('comment')?.dirty || 
                    commentForm.get('comment')?.touched || 
                    isSubmitted)" class="bg-red-500 md:text-md text-sm  text-white p-2 rounded-sm">Comment must
                be at least
                10 characters long.</p>
        </div>
    </div>
    <app-popup *ngIf="isShowDeletePopup" [isShowDeletePopup]="isShowDeletePopup"
        (newShowDeletePopup)="onNewEventShowDeleteHandler($event)" />


</section>