<div class="container relative">
    <img class="object-cover min-w-screen md:min-h-screen" src="../../../assets/images/hero.jpg" alt="hero-background">
    <div
        class="container flex flex-col justify-center items-center text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-2/3 bg-slate-900/60 rounded-lg">
        <h1 class="lg:text-7xl md:text-5xl sm:text-3xl text-2xl font-bold  text-white lg:my-8 md:my-4 sm:mt-2 mx-2">
            {{heroConstants.mainHeading}}
        </h1>
        <h2 class="lg:text-4xl md:text-2xl sm:text-sm text-sm  text-amber-300 lg:my-4 md:my-2 sm:my-1">
            {{heroConstants.subheading}}
        </h2>
        <p class="lg:text-lg md:text-base sm:text-sm text-sm text-white md:my-9 my-3">{{heroConstants.presentation}}</p>
        <a class="btn btn-blue lg:my-4 md:my-2 sm:my-1" routerLink="/catalog">{{heroConstants.btnText}} &rarr;</a>
    </div>
</div>