<div class="w-full h-screen flex">

    <div class="bg-white flex flex-col justify-center items-center w-5/12 shadow-lg">
        <h1 class="text-4xl font-bold text-sky-800 mb-4">Contact Us</h1>
        <div class="w-2/3 text-center">
            <p>Call us: +123 99 999 999</p>
            <input type="text" name="fullName" placeholder="Dimitar Mitev" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <input type="email" name="email" placeholder="dmitev@gmail.com" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <input type="text" name="phone" placeholder="+123 12 123 123" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <textarea name="message" rows="4" cols="50"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">Your message</textarea>
            <button class="btn btn-blue my-4">Send</button>

        </div>
    </div>
    <img src="../../../assets/images/contact-us.jpg" alt="background"
        class="object-cover object-center h-screen w-7/12">
</div>