<div class="w-full h-screen flex">
    <img src="../../../assets/images/login.jpg" alt="background" class="object-cover object-center h-screen w-7/12">
    <div class="bg-white flex flex-col justify-center items-center w-5/12 shadow-lg">
        <h1 class="text-4xl font-bold text-sky-800 mb-4">{{loginConstant.heading}}</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-2/3 text-center">
            <label for="login-email" class="text-sky-800 self-start text-lg">
                {{loginConstant.email}}
            </label>
            <input id="login-email" type="email" formControlName="email" placeholder={{loginConstant.emailPlaceholder}}
                autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 ">

            <p *ngIf="loginForm.get('email')?.invalid && 
                (loginForm.get('email')?.dirty || 
                loginForm.get('email')?.touched || 
                isSubmitted)" class="text-red-500 text-xs italic">{{loginConstant.emailInvalidText}}</p>

            <label for="login-password" class="text-sky-800 self-start text-lg">
                {{loginConstant.password}}
            </label>
            <input id="login-password" type="password" formControlName="password"
                placeholder={{loginConstant.passwordPlaceholder}}
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 ">

            <p *ngIf="loginForm.get('password')?.invalid &&
                 (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched ||
                   isSubmitted)" class="text-red-500 text-xs italic">{{loginConstant.passwordInvalidText}}</p>

            <button [disabled]="!this.loginForm.valid" type="submit"
                class="btn btn-blue my-4">{{loginConstant.btnText}}</button>
            <p>{{loginConstant.account}} <a class="font-bold underline text-sky-800"
                    routerLink="/register">{{loginConstant.btnAccount}}</a></p>
        </form>
    </div>
</div>