<article class="container flex flex-col justify-center items-center text-center py-5 bg-slate-700">
    <h2 class="text-4xl font-bold text-white">{{aboutUsConstants.heading}}</h2>

    <p class="text-white lg:w-2/3  md:w-full sm:w-full lg:my-8 md:my-4 sm:my-2  p-4">{{aboutUsConstants.p1}}</p>

    <p class="text-white lg:w-2/3 md:w-full sm:w-full lg:my-8 md:my-4 sm:my-2  p-4">{{aboutUsConstants.p2}}</p>

    <p class="text-white lg:w-2/3 md:w-full sm:w-full lg:my-8 md:my-4 sm:my-2  p-4">{{aboutUsConstants.p3}}</p>

    <p class="text-white lg:w-2/3 md:w-full sm:w-full lg:my-8 md:my-4 sm:my-2  p-4">{{aboutUsConstants.p4}}</p>

    <p class="text-white  p-4 font-bold">{{aboutUsConstants.p5}}</p>
</article>