<div #cardElement [attr.idOffer]='offer._id' [attr.idOfferOwner]="offer._ownerId"
    [attr.offerCreatedOn]="offer._createdOn"
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-sky-900">
    <img class="rounded-t-lg" src={{offer.imageUrl}} alt={{offer.title}} />
    <div class="p-5">
        <a>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{offer.title}}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{offer.information}}</p>
        <p class="mb-3 font-bold text-gray-700 dark:text-gray-200">${{offer.price}}</p>
        <a class="btn btn-blue my-4" routerLink="/{{offer._id}}/details">Read More &rarr;</a>
    </div>
</div>