<div class="w-full h-screen flex">
    <img src="../../../assets/images/create.jpg" alt="background" class="object-cover object-center h-screen w-7/12">
    <div class="bg-white flex flex-col justify-center items-center w-5/12 shadow-lg">
        <h1 class="text-4xl font-bold text-sky-800 mb-4">Create an offer</h1>
        <div class="w-2/3 text-center">
            <input type="text" name="title" placeholder="Title" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <input type="text" name="location" placeholder="Location" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <input type="text" name="imageUrl" placeholder="Image Link" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <input type="number" name="Price" placeholder="Price" autocomplete="off"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">
            <textarea name="information" rows="4" cols="50"
                class="shadow-sm border w-full h-12 px-3 py-2 text-sky-800 focus:outline-none focus:border-sky-800 mb-3 rounded">Information about the offer</textarea>
            <button class="btn btn-blue my-4">Create</button>

        </div>
    </div>

</div>